#include "threejs_lights_res.h"
#include <windows.h>

STRINGTABLE
BEGIN
    IDS_LIGHT_PARAMS_LEGACY "MaxJS Light"
    IDS_DIRECTIONAL_LIGHT_PARAMS "Directional Light"
    IDS_POINT_LIGHT_PARAMS "Point Light"
    IDS_SPOT_LIGHT_PARAMS "Spot Light"
    IDS_RECT_AREA_LIGHT_PARAMS "Rect Area Light"
    IDS_HEMISPHERE_LIGHT_PARAMS "Hemisphere Light"
    IDS_AMBIENT_LIGHT_PARAMS "Ambient Light"
    IDS_LIGHT_TYPE_DIRECTIONAL "Directional"
    IDS_LIGHT_TYPE_POINT "Point"
    IDS_LIGHT_TYPE_SPOT "Spot"
    IDS_LIGHT_TYPE_RECT_AREA "Rect Area"
    IDS_LIGHT_TYPE_HEMISPHERE "Hemisphere"
    IDS_LIGHT_TYPE_AMBIENT "Ambient"
END

IDD_THREEJS_LIGHT_LEGACY DIALOG 0, 0, 140, 236
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 8, "Segoe UI"
BEGIN
    LTEXT           "Type", -1, 8, 6, 160, 8
    COMBOBOX        IDC_LIGHT_TYPE, 52, 18, 80, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    
    LTEXT           "Color", -1, 8, 36, 42, 8
    CONTROL         "", IDC_LIGHT_COLOR, "ColorSwatch", WS_TABSTOP, 52, 34, 34, 12
    LTEXT           "Intensity", -1, 8, 50, 42, 8
    CONTROL         "", IDC_LIGHT_INT_EDIT, "CustEdit", WS_TABSTOP, 52, 48, 30, 10
    CONTROL         "", IDC_LIGHT_INT_SPIN, "SpinnerControl", 0, 82, 48, 11, 10
    
    LTEXT           "Distance", -1, 8, 64, 42, 8
    CONTROL         "", IDC_DIST_EDIT, "CustEdit", WS_TABSTOP, 52, 62, 30, 10
    CONTROL         "", IDC_DIST_SPIN, "SpinnerControl", 0, 82, 62, 11, 10
    LTEXT           "Decay", -1, 8, 78, 42, 8
    CONTROL         "", IDC_DECAY_EDIT, "CustEdit", WS_TABSTOP, 52, 76, 30, 10
    CONTROL         "", IDC_DECAY_SPIN, "SpinnerControl", 0, 82, 76, 11, 10
    
    LTEXT           "Angle", -1, 8, 92, 42, 8
    CONTROL         "", IDC_ANGLE_EDIT, "CustEdit", WS_TABSTOP, 52, 90, 30, 10
    CONTROL         "", IDC_ANGLE_SPIN, "SpinnerControl", 0, 82, 90, 11, 10
    LTEXT           "Penumbra", -1, 8, 106, 42, 8
    CONTROL         "", IDC_PENUM_EDIT, "CustEdit", WS_TABSTOP, 52, 104, 30, 10
    CONTROL         "", IDC_PENUM_SPIN, "SpinnerControl", 0, 82, 104, 11, 10
    
    LTEXT           "Width", -1, 8, 120, 42, 8
    CONTROL         "", IDC_WIDTH_EDIT, "CustEdit", WS_TABSTOP, 52, 118, 30, 10
    CONTROL         "", IDC_WIDTH_SPIN, "SpinnerControl", 0, 82, 118, 11, 10
    LTEXT           "Height", -1, 8, 134, 42, 8
    CONTROL         "", IDC_HEIGHT_EDIT, "CustEdit", WS_TABSTOP, 52, 132, 30, 10
    CONTROL         "", IDC_HEIGHT_SPIN, "SpinnerControl", 0, 82, 132, 11, 10
    
    LTEXT           "Ground", -1, 8, 148, 42, 8
    CONTROL         "", IDC_GROUND_COLOR, "ColorSwatch", WS_TABSTOP, 52, 146, 34, 12
    
    GROUPBOX        "Shadows", -1, 2, 160, 136, 86
    CONTROL         "Cast Shadow", IDC_CAST_SHADOW, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 172, 80, 10
    LTEXT           "Bias", -1, 8, 188, 42, 8
    CONTROL         "", IDC_SHBIAS_EDIT, "CustEdit", WS_TABSTOP, 52, 186, 30, 10
    CONTROL         "", IDC_SHBIAS_SPIN, "SpinnerControl", 0, 82, 186, 11, 10
    LTEXT           "Radius", -1, 8, 202, 42, 8
    CONTROL         "", IDC_SHRAD_EDIT, "CustEdit", WS_TABSTOP, 52, 200, 30, 10
    CONTROL         "", IDC_SHRAD_SPIN, "SpinnerControl", 0, 82, 200, 11, 10
    LTEXT           "Map", -1, 8, 216, 42, 8
    CONTROL         "", IDC_SHMAP_EDIT, "CustEdit", WS_TABSTOP, 52, 214, 30, 10
    CONTROL         "", IDC_SHMAP_SPIN, "SpinnerControl", 0, 82, 214, 11, 10
END

IDD_THREEJS_DIRECTIONAL_LIGHT DIALOG 0, 0, 102, 108
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 8, "Segoe UI"
BEGIN
    LTEXT           "Color", -1, 8, 6, 42, 8
    CONTROL         "", IDC_LIGHT_COLOR, "ColorSwatch", WS_TABSTOP, 52, 4, 34, 12
    LTEXT           "Intensity", -1, 8, 20, 42, 8
    CONTROL         "", IDC_LIGHT_INT_EDIT, "CustEdit", WS_TABSTOP, 52, 18, 30, 10
    CONTROL         "", IDC_LIGHT_INT_SPIN, "SpinnerControl", 0, 82, 18, 11, 10
    
    GROUPBOX        "Shadows", -1, 2, 32, 98, 86
    CONTROL         "Cast Shadow", IDC_CAST_SHADOW, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 44, 80, 10
    LTEXT           "Bias", -1, 8, 60, 42, 8
    CONTROL         "", IDC_SHBIAS_EDIT, "CustEdit", WS_TABSTOP, 52, 58, 30, 10
    CONTROL         "", IDC_SHBIAS_SPIN, "SpinnerControl", 0, 82, 58, 11, 10
    LTEXT           "Radius", -1, 8, 74, 42, 8
    CONTROL         "", IDC_SHRAD_EDIT, "CustEdit", WS_TABSTOP, 52, 72, 30, 10
    CONTROL         "", IDC_SHRAD_SPIN, "SpinnerControl", 0, 82, 72, 11, 10
    LTEXT           "Map", -1, 8, 88, 42, 8
    CONTROL         "", IDC_SHMAP_EDIT, "CustEdit", WS_TABSTOP, 52, 86, 30, 10
    CONTROL         "", IDC_SHMAP_SPIN, "SpinnerControl", 0, 82, 86, 11, 10
END

IDD_THREEJS_POINT_LIGHT DIALOG 0, 0, 102, 136
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 8, "Segoe UI"
BEGIN
    LTEXT           "Color", -1, 8, 6, 42, 8
    CONTROL         "", IDC_LIGHT_COLOR, "ColorSwatch", WS_TABSTOP, 52, 4, 34, 12
    LTEXT           "Intensity", -1, 8, 20, 42, 8
    CONTROL         "", IDC_LIGHT_INT_EDIT, "CustEdit", WS_TABSTOP, 52, 18, 30, 10
    CONTROL         "", IDC_LIGHT_INT_SPIN, "SpinnerControl", 0, 82, 18, 11, 10
    
    LTEXT           "Distance", -1, 8, 34, 42, 8
    CONTROL         "", IDC_DIST_EDIT, "CustEdit", WS_TABSTOP, 52, 32, 30, 10
    CONTROL         "", IDC_DIST_SPIN, "SpinnerControl", 0, 82, 32, 11, 10
    LTEXT           "Decay", -1, 8, 48, 42, 8
    CONTROL         "", IDC_DECAY_EDIT, "CustEdit", WS_TABSTOP, 52, 46, 30, 10
    CONTROL         "", IDC_DECAY_SPIN, "SpinnerControl", 0, 82, 46, 11, 10
    
    GROUPBOX        "Shadows", -1, 2, 60, 98, 86
    CONTROL         "Cast Shadow", IDC_CAST_SHADOW, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 72, 80, 10
    LTEXT           "Bias", -1, 8, 88, 42, 8
    CONTROL         "", IDC_SHBIAS_EDIT, "CustEdit", WS_TABSTOP, 52, 86, 30, 10
    CONTROL         "", IDC_SHBIAS_SPIN, "SpinnerControl", 0, 82, 86, 11, 10
    LTEXT           "Radius", -1, 8, 102, 42, 8
    CONTROL         "", IDC_SHRAD_EDIT, "CustEdit", WS_TABSTOP, 52, 100, 30, 10
    CONTROL         "", IDC_SHRAD_SPIN, "SpinnerControl", 0, 82, 100, 11, 10
    LTEXT           "Map", -1, 8, 116, 42, 8
    CONTROL         "", IDC_SHMAP_EDIT, "CustEdit", WS_TABSTOP, 52, 114, 30, 10
    CONTROL         "", IDC_SHMAP_SPIN, "SpinnerControl", 0, 82, 114, 11, 10
END

IDD_THREEJS_SPOT_LIGHT DIALOG 0, 0, 102, 164
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 8, "Segoe UI"
BEGIN
    LTEXT           "Color", -1, 8, 6, 42, 8
    CONTROL         "", IDC_LIGHT_COLOR, "ColorSwatch", WS_TABSTOP, 52, 4, 34, 12
    LTEXT           "Intensity", -1, 8, 20, 42, 8
    CONTROL         "", IDC_LIGHT_INT_EDIT, "CustEdit", WS_TABSTOP, 52, 18, 30, 10
    CONTROL         "", IDC_LIGHT_INT_SPIN, "SpinnerControl", 0, 82, 18, 11, 10
    
    LTEXT           "Distance", -1, 8, 34, 42, 8
    CONTROL         "", IDC_DIST_EDIT, "CustEdit", WS_TABSTOP, 52, 32, 30, 10
    CONTROL         "", IDC_DIST_SPIN, "SpinnerControl", 0, 82, 32, 11, 10
    LTEXT           "Decay", -1, 8, 48, 42, 8
    CONTROL         "", IDC_DECAY_EDIT, "CustEdit", WS_TABSTOP, 52, 46, 30, 10
    CONTROL         "", IDC_DECAY_SPIN, "SpinnerControl", 0, 82, 46, 11, 10
    
    LTEXT           "Angle", -1, 8, 62, 42, 8
    CONTROL         "", IDC_ANGLE_EDIT, "CustEdit", WS_TABSTOP, 52, 60, 30, 10
    CONTROL         "", IDC_ANGLE_SPIN, "SpinnerControl", 0, 82, 60, 11, 10
    LTEXT           "Penumbra", -1, 8, 76, 42, 8
    CONTROL         "", IDC_PENUM_EDIT, "CustEdit", WS_TABSTOP, 52, 74, 30, 10
    CONTROL         "", IDC_PENUM_SPIN, "SpinnerControl", 0, 82, 74, 11, 10
    
    GROUPBOX        "Shadows", -1, 2, 88, 98, 86
    CONTROL         "Cast Shadow", IDC_CAST_SHADOW, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 100, 80, 10
    LTEXT           "Bias", -1, 8, 116, 42, 8
    CONTROL         "", IDC_SHBIAS_EDIT, "CustEdit", WS_TABSTOP, 52, 114, 30, 10
    CONTROL         "", IDC_SHBIAS_SPIN, "SpinnerControl", 0, 82, 114, 11, 10
    LTEXT           "Radius", -1, 8, 130, 42, 8
    CONTROL         "", IDC_SHRAD_EDIT, "CustEdit", WS_TABSTOP, 52, 128, 30, 10
    CONTROL         "", IDC_SHRAD_SPIN, "SpinnerControl", 0, 82, 128, 11, 10
    LTEXT           "Map", -1, 8, 144, 42, 8
    CONTROL         "", IDC_SHMAP_EDIT, "CustEdit", WS_TABSTOP, 52, 142, 30, 10
    CONTROL         "", IDC_SHMAP_SPIN, "SpinnerControl", 0, 82, 142, 11, 10
END

IDD_THREEJS_RECT_AREA_LIGHT DIALOG 0, 0, 102, 68
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 8, "Segoe UI"
BEGIN
    LTEXT           "Color", -1, 8, 6, 42, 8
    CONTROL         "", IDC_LIGHT_COLOR, "ColorSwatch", WS_TABSTOP, 52, 4, 34, 12
    LTEXT           "Intensity", -1, 8, 20, 42, 8
    CONTROL         "", IDC_LIGHT_INT_EDIT, "CustEdit", WS_TABSTOP, 52, 18, 30, 10
    CONTROL         "", IDC_LIGHT_INT_SPIN, "SpinnerControl", 0, 82, 18, 11, 10
    
    LTEXT           "Width", -1, 8, 34, 42, 8
    CONTROL         "", IDC_WIDTH_EDIT, "CustEdit", WS_TABSTOP, 52, 32, 30, 10
    CONTROL         "", IDC_WIDTH_SPIN, "SpinnerControl", 0, 82, 32, 11, 10
    LTEXT           "Height", -1, 8, 48, 42, 8
    CONTROL         "", IDC_HEIGHT_EDIT, "CustEdit", WS_TABSTOP, 52, 46, 30, 10
    CONTROL         "", IDC_HEIGHT_SPIN, "SpinnerControl", 0, 82, 46, 11, 10
END

IDD_THREEJS_HEMISPHERE_LIGHT DIALOG 0, 0, 102, 54
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 8, "Segoe UI"
BEGIN
    LTEXT           "Sky", -1, 8, 6, 42, 8
    CONTROL         "", IDC_LIGHT_COLOR, "ColorSwatch", WS_TABSTOP, 52, 4, 34, 12
    LTEXT           "Intensity", -1, 8, 20, 42, 8
    CONTROL         "", IDC_LIGHT_INT_EDIT, "CustEdit", WS_TABSTOP, 52, 18, 30, 10
    CONTROL         "", IDC_LIGHT_INT_SPIN, "SpinnerControl", 0, 82, 18, 11, 10
    
    LTEXT           "Ground", -1, 8, 34, 42, 8
    CONTROL         "", IDC_GROUND_COLOR, "ColorSwatch", WS_TABSTOP, 52, 32, 34, 12
END

IDD_THREEJS_AMBIENT_LIGHT DIALOG 0, 0, 102, 40
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 8, "Segoe UI"
BEGIN
    LTEXT           "Color", -1, 8, 6, 42, 8
    CONTROL         "", IDC_LIGHT_COLOR, "ColorSwatch", WS_TABSTOP, 52, 4, 34, 12
    LTEXT           "Intensity", -1, 8, 20, 42, 8
    CONTROL         "", IDC_LIGHT_INT_EDIT, "CustEdit", WS_TABSTOP, 52, 18, 30, 10
    CONTROL         "", IDC_LIGHT_INT_SPIN, "SpinnerControl", 0, 82, 18, 11, 10
END
