#include "threejs_webapp_res.h"
#include <windows.h>

STRINGTABLE
BEGIN
    IDS_WEBAPP_PARAMS "WebApp Animator"
    IDS_WEBAPP_DISPLAY_SIZE "Display Size"
    IDS_WEBAPP_URL "URL"
    IDS_WEBAPP_WIDTH "Width (px)"
    IDS_WEBAPP_HEIGHT "Height (px)"
    IDS_WEBAPP_OPACITY "Opacity"
    IDS_WEBAPP_INTERACTIVE "Interactive"
    IDS_WEBAPP_PRESENTATION "Presentation"
    IDS_WEBAPP_PARAM1 "Param 1"
    IDS_WEBAPP_PARAM2 "Param 2"
    IDS_WEBAPP_PARAM3 "Param 3"
    IDS_WEBAPP_PARAM4 "Param 4"
    IDS_WEBAPP_PARAM5 "Param 5"
    IDS_WEBAPP_PARAM6 "Param 6"
    IDS_WEBAPP_PARAM7 "Param 7"
    IDS_WEBAPP_PARAM8 "Param 8"
    IDS_WEBAPP_PARAM9 "Param 9"
    IDS_WEBAPP_PARAM10 "Param 10"
    IDS_WEBAPP_PARAM11 "Param 11"
    IDS_WEBAPP_PARAM12 "Param 12"
    IDS_WEBAPP_PARAM13 "Param 13"
    IDS_WEBAPP_PARAM14 "Param 14"
    IDS_WEBAPP_PARAM15 "Param 15"
    IDS_WEBAPP_PARAM16 "Param 16"
    IDS_WEBAPP_PARAM17 "Param 17"
    IDS_WEBAPP_PARAM18 "Param 18"
    IDS_WEBAPP_PARAM19 "Param 19"
    IDS_WEBAPP_PARAM20 "Param 20"
    IDS_WEBAPP_PARAM21 "Param 21"
    IDS_WEBAPP_PARAM22 "Param 22"
    IDS_WEBAPP_PARAM23 "Param 23"
    IDS_WEBAPP_PARAM24 "Param 24"
    IDS_WEBAPP_PARAM25 "Param 25"
    IDS_WEBAPP_PARAM26 "Param 26"
    IDS_WEBAPP_PARAM27 "Param 27"
    IDS_WEBAPP_PARAM28 "Param 28"
    IDS_WEBAPP_PARAM29 "Param 29"
    IDS_WEBAPP_PARAM30 "Param 30"
    IDS_WEBAPP_PARAM31 "Param 31"
    IDS_WEBAPP_PARAM32 "Param 32"
    IDS_WEBAPP_DEPTH_OCCLUDE "Depth Occlude"
    IDS_WEBAPP_LAYER_COUNT "Layers"
    IDS_WEBAPP_LAYER_GAP "Layer Gap"
    IDS_WEBAPP_PARAM1_NAME "Param 1 Name"
    IDS_WEBAPP_PARAM2_NAME "Param 2 Name"
    IDS_WEBAPP_PARAM3_NAME "Param 3 Name"
    IDS_WEBAPP_PARAM4_NAME "Param 4 Name"
    IDS_WEBAPP_PARAM5_NAME "Param 5 Name"
    IDS_WEBAPP_PARAM6_NAME "Param 6 Name"
    IDS_WEBAPP_PARAM7_NAME "Param 7 Name"
    IDS_WEBAPP_PARAM8_NAME "Param 8 Name"
    IDS_WEBAPP_PARAM9_NAME "Param 9 Name"
    IDS_WEBAPP_PARAM10_NAME "Param 10 Name"
    IDS_WEBAPP_PARAM11_NAME "Param 11 Name"
    IDS_WEBAPP_PARAM12_NAME "Param 12 Name"
    IDS_WEBAPP_PARAM13_NAME "Param 13 Name"
    IDS_WEBAPP_PARAM14_NAME "Param 14 Name"
    IDS_WEBAPP_PARAM15_NAME "Param 15 Name"
    IDS_WEBAPP_PARAM16_NAME "Param 16 Name"
    IDS_WEBAPP_PARAM17_NAME "Param 17 Name"
    IDS_WEBAPP_PARAM18_NAME "Param 18 Name"
    IDS_WEBAPP_PARAM19_NAME "Param 19 Name"
    IDS_WEBAPP_PARAM20_NAME "Param 20 Name"
    IDS_WEBAPP_PARAM21_NAME "Param 21 Name"
    IDS_WEBAPP_PARAM22_NAME "Param 22 Name"
    IDS_WEBAPP_PARAM23_NAME "Param 23 Name"
    IDS_WEBAPP_PARAM24_NAME "Param 24 Name"
    IDS_WEBAPP_PARAM25_NAME "Param 25 Name"
    IDS_WEBAPP_PARAM26_NAME "Param 26 Name"
    IDS_WEBAPP_PARAM27_NAME "Param 27 Name"
    IDS_WEBAPP_PARAM28_NAME "Param 28 Name"
    IDS_WEBAPP_PARAM29_NAME "Param 29 Name"
    IDS_WEBAPP_PARAM30_NAME "Param 30 Name"
    IDS_WEBAPP_PARAM31_NAME "Param 31 Name"
    IDS_WEBAPP_PARAM32_NAME "Param 32 Name"
END

IDD_THREEJS_WEBAPP DIALOG 0, 0, 186, 692
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 8, "Segoe UI"
BEGIN
    LTEXT           "URL", -1, 8, 6, 18, 8
    EDITTEXT        IDC_WEBAPP_URL_EDIT, 28, 4, 114, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_WEBAPP_BROWSE, 146, 4, 32, 12

    LTEXT           "Display", -1, 8, 22, 30, 8
    CONTROL         "", IDC_WEBAPP_SIZE_EDIT, "CustEdit", WS_TABSTOP, 40, 20, 28, 10
    CONTROL         "", IDC_WEBAPP_SIZE_SPIN, "SpinnerControl", 0, 68, 20, 11, 10

    LTEXT           "Opacity", -1, 96, 22, 30, 8
    CONTROL         "", IDC_WEBAPP_OPACITY_EDIT, "CustEdit", WS_TABSTOP, 128, 20, 26, 10
    CONTROL         "", IDC_WEBAPP_OPACITY_SPIN, "SpinnerControl", 0, 154, 20, 11, 10

    LTEXT           "W px", -1, 8, 38, 22, 8
    CONTROL         "", IDC_WEBAPP_WIDTH_EDIT, "CustEdit", WS_TABSTOP, 32, 36, 30, 10
    CONTROL         "", IDC_WEBAPP_WIDTH_SPIN, "SpinnerControl", 0, 62, 36, 11, 10

    LTEXT           "H px", -1, 96, 38, 20, 8
    CONTROL         "", IDC_WEBAPP_HEIGHT_EDIT, "CustEdit", WS_TABSTOP, 118, 36, 30, 10
    CONTROL         "", IDC_WEBAPP_HEIGHT_SPIN, "SpinnerControl", 0, 148, 36, 11, 10

    CONTROL         "Interactive", IDC_WEBAPP_INTERACTIVE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 52, 50, 10
    CONTROL         "CSS3D", IDC_WEBAPP_PRES_CSS3D, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 70, 52, 40, 10
    CONTROL         "Texture", IDC_WEBAPP_PRES_TEXTURE, "Button", BS_AUTORADIOBUTTON, 114, 52, 44, 10

    CONTROL         "Depth Occlude", IDC_WEBAPP_DEPTH_OCCLUDE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 66, 62, 10
    LTEXT           "Layers", -1, 74, 67, 26, 8
    CONTROL         "", IDC_WEBAPP_LAYERS_EDIT, "CustEdit", WS_TABSTOP, 100, 65, 18, 10
    CONTROL         "", IDC_WEBAPP_LAYERS_SPIN, "SpinnerControl", 0, 118, 65, 11, 10
    LTEXT           "Gap", -1, 134, 67, 16, 8
    CONTROL         "", IDC_WEBAPP_GAP_EDIT, "CustEdit", WS_TABSTOP, 150, 65, 22, 10
    CONTROL         "", IDC_WEBAPP_GAP_SPIN, "SpinnerControl", 0, 172, 65, 11, 10

    GROUPBOX        "Animated Params", -1, 4, 82, 178, 606
    LTEXT           "Name", -1, 12, 94, 60, 8
    LTEXT           "Value", -1, 116, 94, 40, 8

    EDITTEXT        IDC_WEBAPP_NAME1, 12, 106, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL1, "CustEdit", WS_TABSTOP, 116, 107, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN1, "SpinnerControl", 0, 156, 107, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME2, 12, 124, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL2, "CustEdit", WS_TABSTOP, 116, 125, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN2, "SpinnerControl", 0, 156, 125, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME3, 12, 142, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL3, "CustEdit", WS_TABSTOP, 116, 143, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN3, "SpinnerControl", 0, 156, 143, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME4, 12, 160, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL4, "CustEdit", WS_TABSTOP, 116, 161, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN4, "SpinnerControl", 0, 156, 161, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME5, 12, 178, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL5, "CustEdit", WS_TABSTOP, 116, 179, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN5, "SpinnerControl", 0, 156, 179, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME6, 12, 196, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL6, "CustEdit", WS_TABSTOP, 116, 197, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN6, "SpinnerControl", 0, 156, 197, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME7, 12, 214, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL7, "CustEdit", WS_TABSTOP, 116, 215, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN7, "SpinnerControl", 0, 156, 215, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME8, 12, 232, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL8, "CustEdit", WS_TABSTOP, 116, 233, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN8, "SpinnerControl", 0, 156, 233, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME9, 12, 250, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL9, "CustEdit", WS_TABSTOP, 116, 251, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN9, "SpinnerControl", 0, 156, 251, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME10, 12, 268, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL10, "CustEdit", WS_TABSTOP, 116, 269, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN10, "SpinnerControl", 0, 156, 269, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME11, 12, 286, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL11, "CustEdit", WS_TABSTOP, 116, 287, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN11, "SpinnerControl", 0, 156, 287, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME12, 12, 304, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL12, "CustEdit", WS_TABSTOP, 116, 305, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN12, "SpinnerControl", 0, 156, 305, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME13, 12, 322, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL13, "CustEdit", WS_TABSTOP, 116, 323, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN13, "SpinnerControl", 0, 156, 323, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME14, 12, 340, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL14, "CustEdit", WS_TABSTOP, 116, 341, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN14, "SpinnerControl", 0, 156, 341, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME15, 12, 358, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL15, "CustEdit", WS_TABSTOP, 116, 359, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN15, "SpinnerControl", 0, 156, 359, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME16, 12, 376, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL16, "CustEdit", WS_TABSTOP, 116, 377, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN16, "SpinnerControl", 0, 156, 377, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME17, 12, 394, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL17, "CustEdit", WS_TABSTOP, 116, 395, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN17, "SpinnerControl", 0, 156, 395, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME18, 12, 412, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL18, "CustEdit", WS_TABSTOP, 116, 413, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN18, "SpinnerControl", 0, 156, 413, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME19, 12, 430, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL19, "CustEdit", WS_TABSTOP, 116, 431, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN19, "SpinnerControl", 0, 156, 431, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME20, 12, 448, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL20, "CustEdit", WS_TABSTOP, 116, 449, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN20, "SpinnerControl", 0, 156, 449, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME21, 12, 466, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL21, "CustEdit", WS_TABSTOP, 116, 467, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN21, "SpinnerControl", 0, 156, 467, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME22, 12, 484, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL22, "CustEdit", WS_TABSTOP, 116, 485, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN22, "SpinnerControl", 0, 156, 485, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME23, 12, 502, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL23, "CustEdit", WS_TABSTOP, 116, 503, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN23, "SpinnerControl", 0, 156, 503, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME24, 12, 520, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL24, "CustEdit", WS_TABSTOP, 116, 521, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN24, "SpinnerControl", 0, 156, 521, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME25, 12, 538, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL25, "CustEdit", WS_TABSTOP, 116, 539, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN25, "SpinnerControl", 0, 156, 539, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME26, 12, 556, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL26, "CustEdit", WS_TABSTOP, 116, 557, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN26, "SpinnerControl", 0, 156, 557, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME27, 12, 574, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL27, "CustEdit", WS_TABSTOP, 116, 575, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN27, "SpinnerControl", 0, 156, 575, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME28, 12, 592, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL28, "CustEdit", WS_TABSTOP, 116, 593, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN28, "SpinnerControl", 0, 156, 593, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME29, 12, 610, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL29, "CustEdit", WS_TABSTOP, 116, 611, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN29, "SpinnerControl", 0, 156, 611, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME30, 12, 628, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL30, "CustEdit", WS_TABSTOP, 116, 629, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN30, "SpinnerControl", 0, 156, 629, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME31, 12, 646, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL31, "CustEdit", WS_TABSTOP, 116, 647, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN31, "SpinnerControl", 0, 156, 647, 11, 10

    EDITTEXT        IDC_WEBAPP_NAME32, 12, 664, 96, 12, ES_AUTOHSCROLL
    CONTROL         "", IDC_WEBAPP_VAL32, "CustEdit", WS_TABSTOP, 116, 665, 40, 10
    CONTROL         "", IDC_WEBAPP_VALSPIN32, "SpinnerControl", 0, 156, 665, 11, 10
END
