#include "resource.h"
#include <windows.h>

STRINGTABLE
BEGIN
    IDS_PARAMS "ThreeJS Material"
END

IDD_THREEJS_MTL DIALOG 0, 0, 170, 316
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 8, "Segoe UI"
BEGIN
    GROUPBOX        "Base Surface", -1,   2,   2, 166, 102
    LTEXT           "Color",         -1,   8,  15, 20,   8
    CONTROL         "",  IDC_COLOR,      "ColorSwatch",    WS_TABSTOP, 30,  13, 24, 12
    CONTROL         "",  IDC_COLOR_MAP,  "CustButton",     WS_TABSTOP, 60,  13, 48, 12
    LTEXT           "Amt",           -1, 114,  15, 14,   8
    CONTROL         "",  IDC_MAPSTR_EDIT,"CustEdit",      WS_TABSTOP, 130, 13, 16, 10
    CONTROL         "",  IDC_MAPSTR_SPIN,"SpinnerControl", 0,         148, 13,  7, 10

    LTEXT           "Rough",         -1,   8,  31, 22,   8
    CONTROL         "",  IDC_ROUGH_EDIT, "CustEdit",      WS_TABSTOP, 30,  29, 18, 10
    CONTROL         "",  IDC_ROUGH_SPIN, "SpinnerControl", 0,         50,  29,  7, 10
    CONTROL         "",  IDC_ROUGH_MAP,  "CustButton",    WS_TABSTOP, 60,  29, 48, 10
    LTEXT           "Amt",           -1, 114,  31, 14,   8
    CONTROL         "",  IDC_RMAPSTR_EDIT,"CustEdit",     WS_TABSTOP, 130, 29, 16, 10
    CONTROL         "",  IDC_RMAPSTR_SPIN,"SpinnerControl",0,         148, 29,  7, 10

    LTEXT           "Metal",         -1,   8,  47, 22,   8
    CONTROL         "",  IDC_METAL_EDIT, "CustEdit",      WS_TABSTOP, 30,  45, 18, 10
    CONTROL         "",  IDC_METAL_SPIN, "SpinnerControl", 0,         50,  45,  7, 10
    CONTROL         "",  IDC_METAL_MAP,  "CustButton",    WS_TABSTOP, 60,  45, 48, 10
    LTEXT           "Amt",           -1, 114,  47, 14,   8
    CONTROL         "",  IDC_MMAPSTR_EDIT,"CustEdit",     WS_TABSTOP, 130, 45, 16, 10
    CONTROL         "",  IDC_MMAPSTR_SPIN,"SpinnerControl",0,         148, 45,  7, 10

    LTEXT           "Normal",        -1,   8,  63, 22,   8
    CONTROL         "",  IDC_NORMAL_MAP, "CustButton",    WS_TABSTOP, 30,  61, 78, 10
    LTEXT           "Scale",         -1, 114,  63, 18,   8
    CONTROL         "",  IDC_NORMSCL_EDIT,"CustEdit",     WS_TABSTOP, 136, 61, 12, 10
    CONTROL         "",  IDC_NORMSCL_SPIN,"SpinnerControl",0,         150, 61,  7, 10

    LTEXT           "Opacity",       -1,   8,  79, 22,   8
    CONTROL         "",  IDC_OPACITY_EDIT,"CustEdit",     WS_TABSTOP, 30,  77, 18, 10
    CONTROL         "",  IDC_OPACITY_SPIN,"SpinnerControl",0,         50,  77,  7, 10
    CONTROL         "",  IDC_OPACITY_MAP, "CustButton",   WS_TABSTOP, 60,  77, 48, 10
    LTEXT           "Amt",           -1, 114,  79, 14,   8
    CONTROL         "",  IDC_OPMAPSTR_EDIT,"CustEdit",    WS_TABSTOP, 130, 77, 16, 10
    CONTROL         "",  IDC_OPMAPSTR_SPIN,"SpinnerControl",0,        148, 77,  7, 10

    GROUPBOX        "Emission",     -1,   2, 108, 166, 46
    LTEXT           "Color",        -1,   8, 121, 20,   8
    CONTROL         "",  IDC_EM_COLOR,    "ColorSwatch",   WS_TABSTOP, 30, 119, 24, 12
    CONTROL         "",  IDC_EM_MAP,      "CustButton",    WS_TABSTOP, 60, 119, 48, 12
    LTEXT           "Intensity",    -1,   8, 137, 30,   8
    CONTROL         "",  IDC_EM_INT_EDIT, "CustEdit",      WS_TABSTOP, 40, 135, 20, 10
    CONTROL         "",  IDC_EM_INT_SPIN, "SpinnerControl", 0,         62, 135,  7, 10
    LTEXT           "Amt",          -1, 104, 137, 14,   8
    CONTROL         "",  IDC_EMMAPSTR_EDIT,"CustEdit",    WS_TABSTOP, 120,135, 16, 10
    CONTROL         "",  IDC_EMMAPSTR_SPIN,"SpinnerControl",0,        138,135,  7, 10

    GROUPBOX        "Utility Maps", -1,   2, 158, 166, 64
    LTEXT           "Lightmap",     -1,   8, 171, 26,   8
    CONTROL         "",  IDC_LM_MAP,      "CustButton",    WS_TABSTOP, 38, 169, 116, 12
    LTEXT           "Intensity",    -1,   8, 187, 30,   8
    CONTROL         "",  IDC_LM_INT_EDIT, "CustEdit",      WS_TABSTOP, 40, 185, 20, 10
    CONTROL         "",  IDC_LM_INT_SPIN, "SpinnerControl", 0,         62, 185,  7, 10
    LTEXT           "UV Ch",        -1, 104, 187, 20,   8
    CONTROL         "",  IDC_LM_CH_EDIT,  "CustEdit",      WS_TABSTOP, 128,185, 12, 10
    CONTROL         "",  IDC_LM_CH_SPIN,  "SpinnerControl", 0,         142,185,  7, 10

    LTEXT           "AO",           -1,   8, 203, 14,   8
    CONTROL         "",  IDC_AO_MAP,      "CustButton",    WS_TABSTOP, 38, 201, 70, 12
    LTEXT           "Intensity",    -1, 114, 203, 30,   8
    CONTROL         "",  IDC_AO_INT_EDIT, "CustEdit",      WS_TABSTOP, 144,201, 12, 10
    CONTROL         "",  IDC_AO_INT_SPIN, "SpinnerControl", 0,         158,201,  7, 10

    GROUPBOX        "Surface Relief", -1,  2, 226, 166, 48
    LTEXT           "Bump",        -1,   8, 239, 30,   8
    CONTROL         "",  IDC_BUMP_MAP,    "CustButton",    WS_TABSTOP, 40, 237, 68, 12
    LTEXT           "Scale",       -1, 114, 239, 18,   8
    CONTROL         "",  IDC_BUMP_EDIT,   "CustEdit",      WS_TABSTOP, 136,237, 12, 10
    CONTROL         "",  IDC_BUMP_SPIN,   "SpinnerControl", 0,         150,237,  7, 10
    LTEXT           "Disp",        -1,   8, 255, 30,   8
    CONTROL         "",  IDC_DISP_MAP,    "CustButton",    WS_TABSTOP, 40, 253, 68, 12
    LTEXT           "Scale",       -1, 114, 255, 18,   8
    CONTROL         "",  IDC_DISP_EDIT,   "CustEdit",      WS_TABSTOP, 136,253, 12, 10
    CONTROL         "",  IDC_DISP_SPIN,   "SpinnerControl", 0,         150,253,  7, 10
    LTEXT           "Bias",        -1, 114, 267, 18,   8
    CONTROL         "",  IDC_DISP_BIAS_EDIT,"CustEdit",    WS_TABSTOP, 136,265, 12, 10
    CONTROL         "",  IDC_DISP_BIAS_SPIN,"SpinnerControl",0,        150,265,  7, 10

    GROUPBOX        "Options",     -1,   2, 278, 166, 28
    CONTROL         "Double Sided",IDC_DOUBLE_SIDED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP, 8, 290, 68, 10
    LTEXT           "Env",         -1, 108, 290, 14,   8
    CONTROL         "",  IDC_ENV_INT_EDIT,"CustEdit",      WS_TABSTOP, 126,288, 16, 10
    CONTROL         "",  IDC_ENV_INT_SPIN,"SpinnerControl", 0,         144,288,  7, 10
END
