#include "threejs_sky_res.h"
#include <windows.h>

STRINGTABLE
BEGIN
    IDS_THREEJS_SKY_PARAMS "three.js Sky"
END

IDD_THREEJS_SKY DIALOG 0, 0, 217, 216
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 8, "Segoe UI"
BEGIN
    GROUPBOX        "Sun", -1, 2, 2, 213, 30
    LTEXT           "Elevation", -1, 8, 14, 48, 8
    CONTROL         "", IDC_SKY_ELEVATION_EDIT, "CustEdit", WS_TABSTOP, 60, 12, 40, 10
    CONTROL         "", IDC_SKY_ELEVATION_SPIN, "SpinnerControl", 0, 100, 12, 11, 10
    LTEXT           "Azimuth", -1, 120, 14, 28, 8
    CONTROL         "", IDC_SKY_AZIMUTH_EDIT, "CustEdit", WS_TABSTOP, 152, 12, 40, 10
    CONTROL         "", IDC_SKY_AZIMUTH_SPIN, "SpinnerControl", 0, 192, 12, 11, 10

    GROUPBOX        "Atmosphere", -1, 2, 34, 213, 58
    LTEXT           "Turbidity", -1, 8, 46, 48, 8
    CONTROL         "", IDC_SKY_TURBIDITY_EDIT, "CustEdit", WS_TABSTOP, 60, 44, 40, 10
    CONTROL         "", IDC_SKY_TURBIDITY_SPIN, "SpinnerControl", 0, 100, 44, 11, 10
    LTEXT           "Rayleigh", -1, 120, 46, 32, 8
    CONTROL         "", IDC_SKY_RAYLEIGH_EDIT, "CustEdit", WS_TABSTOP, 152, 44, 40, 10
    CONTROL         "", IDC_SKY_RAYLEIGH_SPIN, "SpinnerControl", 0, 192, 44, 11, 10

    LTEXT           "Mie Coeff", -1, 8, 60, 48, 8
    CONTROL         "", IDC_SKY_MIE_COEFF_EDIT, "CustEdit", WS_TABSTOP, 60, 58, 40, 10
    CONTROL         "", IDC_SKY_MIE_COEFF_SPIN, "SpinnerControl", 0, 100, 58, 11, 10
    LTEXT           "Mie Dir G", -1, 120, 60, 32, 8
    CONTROL         "", IDC_SKY_MIE_DIR_G_EDIT, "CustEdit", WS_TABSTOP, 152, 58, 40, 10
    CONTROL         "", IDC_SKY_MIE_DIR_G_SPIN, "SpinnerControl", 0, 192, 58, 11, 10

    LTEXT           "Exposure", -1, 8, 76, 48, 8
    CONTROL         "", IDC_SKY_EXPOSURE_EDIT, "CustEdit", WS_TABSTOP, 60, 74, 40, 10
    CONTROL         "", IDC_SKY_EXPOSURE_SPIN, "SpinnerControl", 0, 100, 74, 11, 10

    GROUPBOX        "Display", -1, 2, 92, 213, 20
    CONTROL         "Sun disc", IDC_SKY_SHOW_SUN_DISC, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 100, 52, 10

    GROUPBOX        "Clouds", -1, 2, 114, 213, 56
    LTEXT           "Coverage", -1, 8, 126, 44, 8
    CONTROL         "", IDC_SKY_CLOUD_COVERAGE_EDIT, "CustEdit", WS_TABSTOP, 60, 124, 40, 10
    CONTROL         "", IDC_SKY_CLOUD_COVERAGE_SPIN, "SpinnerControl", 0, 100, 124, 11, 10
    LTEXT           "Density", -1, 120, 126, 44, 8
    CONTROL         "", IDC_SKY_CLOUD_DENSITY_EDIT, "CustEdit", WS_TABSTOP, 152, 124, 40, 10
    CONTROL         "", IDC_SKY_CLOUD_DENSITY_SPIN, "SpinnerControl", 0, 192, 124, 11, 10
    LTEXT           "Scale", -1, 8, 146, 44, 8
    CONTROL         "", IDC_SKY_CLOUD_SCALE_EDIT, "CustEdit", WS_TABSTOP, 60, 144, 40, 10
    CONTROL         "", IDC_SKY_CLOUD_SCALE_SPIN, "SpinnerControl", 0, 100, 144, 11, 10
    LTEXT           "Elevation", -1, 120, 146, 44, 8
    CONTROL         "", IDC_SKY_CLOUD_ELEVATION_EDIT, "CustEdit", WS_TABSTOP, 152, 144, 40, 10
    CONTROL         "", IDC_SKY_CLOUD_ELEVATION_SPIN, "SpinnerControl", 0, 192, 144, 11, 10
    GROUPBOX        "Sun Shadows", -1, 2, 172, 213, 28
    CONTROL         "Cascaded shadows", IDC_SKY_SUN_SHADOWS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 184, 82, 10
    LTEXT           "Distance", -1, 110, 184, 34, 8
    CONTROL         "", IDC_SKY_SUN_SHADOW_DISTANCE_EDIT, "CustEdit", WS_TABSTOP, 152, 182, 40, 10
    CONTROL         "", IDC_SKY_SUN_SHADOW_DISTANCE_SPIN, "SpinnerControl", 0, 192, 182, 11, 10
    LTEXT           "Assign to Environment Map slot for live sky.", -1, 8, 206, 200, 8
END
