#include "resource.h"
#include <windows.h>

STRINGTABLE
BEGIN
    IDS_PARAMS "ThreeJS Material"
    IDS_ADV_PARAMS "ThreeJS Adv"
    IDS_SSS_PARAMS "ThreeJS SSS"
    IDS_UTILITY_PARAMS "ThreeJS Utility"
    IDS_UTILITY_MODE_DISTANCE "Distance"
    IDS_UTILITY_MODE_DEPTH "Depth"
    IDS_UTILITY_MODE_LAMBERT "Lambert"
    IDS_UTILITY_MODE_MATCAP "Matcap"
    IDS_UTILITY_MODE_NORMAL "Normal"
    IDS_UTILITY_MODE_PHONG "Phong"
END

IDD_THREEJS_MTL DIALOG 0, 0, 170, 330
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 8, "Segoe UI"
BEGIN
    GROUPBOX        "Base Surface", -1,   2,   2, 166, 102
    LTEXT           "Color",         -1,   8,  15, 20,   8
    CONTROL         "",  IDC_COLOR,      "ColorSwatch",    WS_TABSTOP, 30,  13, 24, 12
    CONTROL         "",  IDC_COLOR_MAP,  "CustButton",     WS_TABSTOP, 60,  13, 48, 12
    LTEXT           "Amt",           -1, 114,  15, 14,   8
    CONTROL         "",  IDC_MAPSTR_EDIT,"CustEdit", WS_TABSTOP, 130, 13, 32, 10
    CONTROL         "",  IDC_MAPSTR_SPIN,"SpinnerControl", 0,         148, 13,  7, 10

    LTEXT           "Rough",         -1,   8,  31, 22,   8
    CONTROL         "",  IDC_ROUGH_EDIT, "CustEdit", WS_TABSTOP, 30, 29, 32, 10
    CONTROL         "",  IDC_ROUGH_SPIN, "SpinnerControl", 0,         50,  29,  7, 10
    CONTROL         "",  IDC_ROUGH_MAP,  "CustButton",    WS_TABSTOP, 60,  29, 48, 10
    LTEXT           "Amt",           -1, 114,  31, 14,   8
    CONTROL         "",  IDC_RMAPSTR_EDIT,"CustEdit", WS_TABSTOP, 130, 29, 32, 10
    CONTROL         "",  IDC_RMAPSTR_SPIN,"SpinnerControl",0,         148, 29,  7, 10

    LTEXT           "Metal",         -1,   8,  47, 22,   8
    CONTROL         "",  IDC_METAL_EDIT, "CustEdit", WS_TABSTOP, 30, 45, 32, 10
    CONTROL         "",  IDC_METAL_SPIN, "SpinnerControl", 0,         50,  45,  7, 10
    CONTROL         "",  IDC_METAL_MAP,  "CustButton",    WS_TABSTOP, 60,  45, 48, 10
    LTEXT           "Amt",           -1, 114,  47, 14,   8
    CONTROL         "",  IDC_MMAPSTR_EDIT,"CustEdit", WS_TABSTOP, 130, 45, 32, 10
    CONTROL         "",  IDC_MMAPSTR_SPIN,"SpinnerControl",0,         148, 45,  7, 10

    LTEXT           "Normal",        -1,   8,  63, 22,   8
    CONTROL         "",  IDC_NORMAL_MAP, "CustButton",    WS_TABSTOP, 30,  61, 78, 10
    LTEXT           "Scale",         -1, 114,  63, 18,   8
    CONTROL         "",  IDC_NORMSCL_EDIT,"CustEdit", WS_TABSTOP, 136, 61, 32, 10
    CONTROL         "",  IDC_NORMSCL_SPIN,"SpinnerControl",0,         150, 61,  7, 10

    LTEXT           "Opacity",       -1,   8,  79, 22,   8
    CONTROL         "",  IDC_OPACITY_EDIT,"CustEdit", WS_TABSTOP, 30, 77, 32, 10
    CONTROL         "",  IDC_OPACITY_SPIN,"SpinnerControl",0,         50,  77,  7, 10
    CONTROL         "",  IDC_OPACITY_MAP, "CustButton",   WS_TABSTOP, 60,  77, 48, 10
    LTEXT           "Amt",           -1, 114,  79, 14,   8
    CONTROL         "",  IDC_OPMAPSTR_EDIT,"CustEdit", WS_TABSTOP, 130, 77, 32, 10
    CONTROL         "",  IDC_OPMAPSTR_SPIN,"SpinnerControl",0,        148, 77,  7, 10

    GROUPBOX        "Emission",     -1,   2, 108, 166, 46
    LTEXT           "Color",        -1,   8, 121, 20,   8
    CONTROL         "",  IDC_EM_COLOR,    "ColorSwatch",   WS_TABSTOP, 30, 119, 24, 12
    CONTROL         "",  IDC_EM_MAP,      "CustButton",    WS_TABSTOP, 60, 119, 48, 12
    LTEXT           "Intensity",    -1,   8, 137, 30,   8
    CONTROL         "",  IDC_EM_INT_EDIT, "CustEdit", WS_TABSTOP, 40, 135, 32, 10
    CONTROL         "",  IDC_EM_INT_SPIN, "SpinnerControl", 0,         62, 135,  7, 10
    LTEXT           "Amt",          -1, 104, 137, 14,   8
    CONTROL         "",  IDC_EMMAPSTR_EDIT,"CustEdit", WS_TABSTOP, 120, 135, 32, 10
    CONTROL         "",  IDC_EMMAPSTR_SPIN,"SpinnerControl",0,        138,135,  7, 10

    GROUPBOX        "Utility Maps", -1,   2, 158, 166, 64
    LTEXT           "Lightmap",     -1,   8, 171, 26,   8
    CONTROL         "",  IDC_LM_MAP,      "CustButton",    WS_TABSTOP, 38, 169, 116, 12
    LTEXT           "Intensity",    -1,   8, 187, 30,   8
    CONTROL         "",  IDC_LM_INT_EDIT, "CustEdit", WS_TABSTOP, 40, 185, 32, 10
    CONTROL         "",  IDC_LM_INT_SPIN, "SpinnerControl", 0,         62, 185,  7, 10
    LTEXT           "UV Ch",        -1, 104, 187, 20,   8
    CONTROL         "",  IDC_LM_CH_EDIT,  "CustEdit", WS_TABSTOP, 128, 185, 32, 10
    CONTROL         "",  IDC_LM_CH_SPIN,  "SpinnerControl", 0,         142,185,  7, 10

    LTEXT           "AO",           -1,   8, 203, 14,   8
    CONTROL         "",  IDC_AO_MAP,      "CustButton",    WS_TABSTOP, 38, 201, 70, 12
    LTEXT           "Intensity",    -1, 114, 203, 30,   8
    CONTROL         "",  IDC_AO_INT_EDIT, "CustEdit", WS_TABSTOP, 144, 201, 32, 10
    CONTROL         "",  IDC_AO_INT_SPIN, "SpinnerControl", 0,         158,201,  7, 10

    GROUPBOX        "Surface Relief", -1,  2, 226, 166, 48
    LTEXT           "Bump",        -1,   8, 239, 30,   8
    CONTROL         "",  IDC_BUMP_MAP,    "CustButton",    WS_TABSTOP, 40, 237, 68, 12
    LTEXT           "Scale",       -1, 114, 239, 18,   8
    CONTROL         "",  IDC_BUMP_EDIT,   "CustEdit", WS_TABSTOP, 136, 237, 32, 10
    CONTROL         "",  IDC_BUMP_SPIN,   "SpinnerControl", 0,         150,237,  7, 10
    LTEXT           "Disp",        -1,   8, 255, 30,   8
    CONTROL         "",  IDC_DISP_MAP,    "CustButton",    WS_TABSTOP, 40, 253, 68, 12
    LTEXT           "Scale",       -1, 114, 255, 18,   8
    CONTROL         "",  IDC_DISP_EDIT,   "CustEdit", WS_TABSTOP, 136, 253, 32, 10
    CONTROL         "",  IDC_DISP_SPIN,   "SpinnerControl", 0,         150,253,  7, 10
    LTEXT           "Bias",        -1, 114, 267, 18,   8
    CONTROL         "",  IDC_DISP_BIAS_EDIT,"CustEdit", WS_TABSTOP, 136, 265, 32, 10
    CONTROL         "",  IDC_DISP_BIAS_SPIN,"SpinnerControl",0,        150,265,  7, 10

    GROUPBOX        "Options",     -1,   2, 278, 166, 42
    CONTROL         "Double Sided",IDC_DOUBLE_SIDED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP, 8, 290, 68, 10
    LTEXT           "Env",         -1, 108, 290, 14,   8
    CONTROL         "",  IDC_ENV_INT_EDIT,"CustEdit", WS_TABSTOP, 126, 288, 32, 10
    CONTROL         "",  IDC_ENV_INT_SPIN,"SpinnerControl", 0,         144,288,  7, 10
    LTEXT           "Model: MeshStandardMaterial", IDC_MTL_MODEL_LABEL, 8, 304, 120, 8
END

IDD_THREEJS_ADV_MTL DIALOG 0, 0, 170, 338
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 8, "Segoe UI"
BEGIN
    GROUPBOX        "Base Surface", -1,   2,   2, 166, 102
    LTEXT           "Color",         -1,   8,  15, 20,   8
    CONTROL         "",  IDC_COLOR,      "ColorSwatch",    WS_TABSTOP, 30,  13, 24, 12
    CONTROL         "",  IDC_COLOR_MAP,  "CustButton",     WS_TABSTOP, 60,  13, 48, 12
    LTEXT           "Amt",           -1, 114,  15, 14,   8
    CONTROL         "",  IDC_MAPSTR_EDIT,"CustEdit", WS_TABSTOP, 130, 13, 32, 10
    CONTROL         "",  IDC_MAPSTR_SPIN,"SpinnerControl", 0,         148, 13,  7, 10

    LTEXT           "Rough",         -1,   8,  31, 22,   8
    CONTROL         "",  IDC_ROUGH_EDIT, "CustEdit", WS_TABSTOP, 30, 29, 32, 10
    CONTROL         "",  IDC_ROUGH_SPIN, "SpinnerControl", 0,         50,  29,  7, 10
    CONTROL         "",  IDC_ROUGH_MAP,  "CustButton",    WS_TABSTOP, 60,  29, 48, 10
    LTEXT           "Amt",           -1, 114,  31, 14,   8
    CONTROL         "",  IDC_RMAPSTR_EDIT,"CustEdit", WS_TABSTOP, 130, 29, 32, 10
    CONTROL         "",  IDC_RMAPSTR_SPIN,"SpinnerControl",0,         148, 29,  7, 10

    LTEXT           "Metal",         -1,   8,  47, 22,   8
    CONTROL         "",  IDC_METAL_EDIT, "CustEdit", WS_TABSTOP, 30, 45, 32, 10
    CONTROL         "",  IDC_METAL_SPIN, "SpinnerControl", 0,         50,  45,  7, 10
    CONTROL         "",  IDC_METAL_MAP,  "CustButton",    WS_TABSTOP, 60,  45, 48, 10
    LTEXT           "Amt",           -1, 114,  47, 14,   8
    CONTROL         "",  IDC_MMAPSTR_EDIT,"CustEdit", WS_TABSTOP, 130, 45, 32, 10
    CONTROL         "",  IDC_MMAPSTR_SPIN,"SpinnerControl",0,         148, 45,  7, 10

    LTEXT           "Normal",        -1,   8,  63, 22,   8
    CONTROL         "",  IDC_NORMAL_MAP, "CustButton",    WS_TABSTOP, 30,  61, 78, 10
    LTEXT           "Scale",         -1, 114,  63, 18,   8
    CONTROL         "",  IDC_NORMSCL_EDIT,"CustEdit", WS_TABSTOP, 136, 61, 32, 10
    CONTROL         "",  IDC_NORMSCL_SPIN,"SpinnerControl",0,         150, 61,  7, 10

    LTEXT           "Opacity",       -1,   8,  79, 22,   8
    CONTROL         "",  IDC_OPACITY_EDIT,"CustEdit", WS_TABSTOP, 30, 77, 32, 10
    CONTROL         "",  IDC_OPACITY_SPIN,"SpinnerControl",0,         50,  77,  7, 10
    CONTROL         "",  IDC_OPACITY_MAP, "CustButton",   WS_TABSTOP, 60,  77, 48, 10
    LTEXT           "Amt",           -1, 114,  79, 14,   8
    CONTROL         "",  IDC_OPMAPSTR_EDIT,"CustEdit", WS_TABSTOP, 130, 77, 32, 10
    CONTROL         "",  IDC_OPMAPSTR_SPIN,"SpinnerControl",0,        148, 77,  7, 10

    GROUPBOX        "Emission",     -1,   2, 108, 166, 46
    LTEXT           "Color",        -1,   8, 121, 20,   8
    CONTROL         "",  IDC_EM_COLOR,    "ColorSwatch",   WS_TABSTOP, 30, 119, 24, 12
    CONTROL         "",  IDC_EM_MAP,      "CustButton",    WS_TABSTOP, 60, 119, 48, 12
    LTEXT           "Intensity",    -1,   8, 137, 30,   8
    CONTROL         "",  IDC_EM_INT_EDIT, "CustEdit", WS_TABSTOP, 40, 135, 32, 10
    CONTROL         "",  IDC_EM_INT_SPIN, "SpinnerControl", 0,         62, 135,  7, 10
    LTEXT           "Amt",          -1, 104, 137, 14,   8
    CONTROL         "",  IDC_EMMAPSTR_EDIT,"CustEdit", WS_TABSTOP, 120, 135, 32, 10
    CONTROL         "",  IDC_EMMAPSTR_SPIN,"SpinnerControl",0,        138,135,  7, 10

    GROUPBOX        "Utility Maps", -1,   2, 158, 166, 64
    LTEXT           "Lightmap",     -1,   8, 171, 26,   8
    CONTROL         "",  IDC_LM_MAP,      "CustButton",    WS_TABSTOP, 38, 169, 116, 12
    LTEXT           "Intensity",    -1,   8, 187, 30,   8
    CONTROL         "",  IDC_LM_INT_EDIT, "CustEdit", WS_TABSTOP, 40, 185, 32, 10
    CONTROL         "",  IDC_LM_INT_SPIN, "SpinnerControl", 0,         62, 185,  7, 10
    LTEXT           "UV Ch",        -1, 104, 187, 20,   8
    CONTROL         "",  IDC_LM_CH_EDIT,  "CustEdit", WS_TABSTOP, 128, 185, 32, 10
    CONTROL         "",  IDC_LM_CH_SPIN,  "SpinnerControl", 0,         142,185,  7, 10

    LTEXT           "AO",           -1,   8, 203, 14,   8
    CONTROL         "",  IDC_AO_MAP,      "CustButton",    WS_TABSTOP, 38, 201, 70, 12
    LTEXT           "Intensity",    -1, 114, 203, 30,   8
    CONTROL         "",  IDC_AO_INT_EDIT, "CustEdit", WS_TABSTOP, 144, 201, 32, 10
    CONTROL         "",  IDC_AO_INT_SPIN, "SpinnerControl", 0,         158,201,  7, 10

    GROUPBOX        "Surface Relief", -1,  2, 226, 166, 48
    LTEXT           "Bump",        -1,   8, 239, 30,   8
    CONTROL         "",  IDC_BUMP_MAP,    "CustButton",    WS_TABSTOP, 40, 237, 68, 12
    LTEXT           "Scale",       -1, 114, 239, 18,   8
    CONTROL         "",  IDC_BUMP_EDIT,   "CustEdit", WS_TABSTOP, 136, 237, 32, 10
    CONTROL         "",  IDC_BUMP_SPIN,   "SpinnerControl", 0,         150,237,  7, 10
    LTEXT           "Disp",        -1,   8, 255, 30,   8
    CONTROL         "",  IDC_DISP_MAP,    "CustButton",    WS_TABSTOP, 40, 253, 68, 12
    LTEXT           "Scale",       -1, 114, 255, 18,   8
    CONTROL         "",  IDC_DISP_EDIT,   "CustEdit", WS_TABSTOP, 136, 253, 32, 10
    CONTROL         "",  IDC_DISP_SPIN,   "SpinnerControl", 0,         150,253,  7, 10
    LTEXT           "Bias",        -1, 114, 267, 18,   8
    CONTROL         "",  IDC_DISP_BIAS_EDIT,"CustEdit", WS_TABSTOP, 136, 265, 32, 10
    CONTROL         "",  IDC_DISP_BIAS_SPIN,"SpinnerControl",0,        150,265,  7, 10
    GROUPBOX        "Options",     -1,   2, 278, 166, 44
    CONTROL         "Double Sided",IDC_DOUBLE_SIDED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP, 8, 290, 68, 10
    LTEXT           "Env",         -1, 108, 290, 14,   8
    CONTROL         "",  IDC_ENV_INT_EDIT,"CustEdit", WS_TABSTOP, 126, 288, 32, 10
    CONTROL         "",  IDC_ENV_INT_SPIN,"SpinnerControl", 0,         144,288,  7, 10
    LTEXT           "Model: MeshPhysicalMaterial", IDC_MTL_MODEL_LABEL, 8, 304, 132, 8
END

IDD_THREEJS_SSS_MTL DIALOG 0, 0, 170, 390
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 8, "Segoe UI"
BEGIN
    GROUPBOX        "Base Surface", -1,   2,   2, 166, 102
    LTEXT           "Color",         -1,   8,  15, 20,   8
    CONTROL         "",  IDC_COLOR,      "ColorSwatch",    WS_TABSTOP, 30,  13, 24, 12
    CONTROL         "",  IDC_COLOR_MAP,  "CustButton",     WS_TABSTOP, 60,  13, 48, 12
    LTEXT           "Amt",           -1, 114,  15, 14,   8
    CONTROL         "",  IDC_MAPSTR_EDIT,"CustEdit", WS_TABSTOP, 130, 13, 32, 10
    CONTROL         "",  IDC_MAPSTR_SPIN,"SpinnerControl", 0,         148, 13,  7, 10

    LTEXT           "Rough",         -1,   8,  31, 22,   8
    CONTROL         "",  IDC_ROUGH_EDIT, "CustEdit", WS_TABSTOP, 30, 29, 32, 10
    CONTROL         "",  IDC_ROUGH_SPIN, "SpinnerControl", 0,         50,  29,  7, 10
    CONTROL         "",  IDC_ROUGH_MAP,  "CustButton",    WS_TABSTOP, 60,  29, 48, 10
    LTEXT           "Amt",           -1, 114,  31, 14,   8
    CONTROL         "",  IDC_RMAPSTR_EDIT,"CustEdit", WS_TABSTOP, 130, 29, 32, 10
    CONTROL         "",  IDC_RMAPSTR_SPIN,"SpinnerControl",0,         148, 29,  7, 10

    LTEXT           "Metal",         -1,   8,  47, 22,   8
    CONTROL         "",  IDC_METAL_EDIT, "CustEdit", WS_TABSTOP, 30, 45, 32, 10
    CONTROL         "",  IDC_METAL_SPIN, "SpinnerControl", 0,         50,  45,  7, 10
    CONTROL         "",  IDC_METAL_MAP,  "CustButton",    WS_TABSTOP, 60,  45, 48, 10
    LTEXT           "Amt",           -1, 114,  47, 14,   8
    CONTROL         "",  IDC_MMAPSTR_EDIT,"CustEdit", WS_TABSTOP, 130, 45, 32, 10
    CONTROL         "",  IDC_MMAPSTR_SPIN,"SpinnerControl",0,         148, 45,  7, 10

    LTEXT           "Normal",        -1,   8,  63, 22,   8
    CONTROL         "",  IDC_NORMAL_MAP, "CustButton",    WS_TABSTOP, 30,  61, 78, 10
    LTEXT           "Scale",         -1, 114,  63, 18,   8
    CONTROL         "",  IDC_NORMSCL_EDIT,"CustEdit", WS_TABSTOP, 136, 61, 32, 10
    CONTROL         "",  IDC_NORMSCL_SPIN,"SpinnerControl",0,         150, 61,  7, 10

    LTEXT           "Opacity",       -1,   8,  79, 22,   8
    CONTROL         "",  IDC_OPACITY_EDIT,"CustEdit", WS_TABSTOP, 30, 77, 32, 10
    CONTROL         "",  IDC_OPACITY_SPIN,"SpinnerControl",0,         50,  77,  7, 10
    CONTROL         "",  IDC_OPACITY_MAP, "CustButton",   WS_TABSTOP, 60,  77, 48, 10
    LTEXT           "Amt",           -1, 114,  79, 14,   8
    CONTROL         "",  IDC_OPMAPSTR_EDIT,"CustEdit", WS_TABSTOP, 130, 77, 32, 10
    CONTROL         "",  IDC_OPMAPSTR_SPIN,"SpinnerControl",0,        148, 77,  7, 10

    GROUPBOX        "Emission",     -1,   2, 108, 166, 46
    LTEXT           "Color",        -1,   8, 121, 20,   8
    CONTROL         "",  IDC_EM_COLOR,    "ColorSwatch",   WS_TABSTOP, 30, 119, 24, 12
    CONTROL         "",  IDC_EM_MAP,      "CustButton",    WS_TABSTOP, 60, 119, 48, 12
    LTEXT           "Intensity",    -1,   8, 137, 30,   8
    CONTROL         "",  IDC_EM_INT_EDIT, "CustEdit", WS_TABSTOP, 40, 135, 32, 10
    CONTROL         "",  IDC_EM_INT_SPIN, "SpinnerControl", 0,         62, 135,  7, 10
    LTEXT           "Amt",          -1, 104, 137, 14,   8
    CONTROL         "",  IDC_EMMAPSTR_EDIT,"CustEdit", WS_TABSTOP, 120, 135, 32, 10
    CONTROL         "",  IDC_EMMAPSTR_SPIN,"SpinnerControl",0,        138,135,  7, 10

    GROUPBOX        "Utility Maps", -1,   2, 158, 166, 64
    LTEXT           "Lightmap",     -1,   8, 171, 26,   8
    CONTROL         "",  IDC_LM_MAP,      "CustButton",    WS_TABSTOP, 38, 169, 116, 12
    LTEXT           "Intensity",    -1,   8, 187, 30,   8
    CONTROL         "",  IDC_LM_INT_EDIT, "CustEdit", WS_TABSTOP, 40, 185, 32, 10
    CONTROL         "",  IDC_LM_INT_SPIN, "SpinnerControl", 0,         62, 185,  7, 10
    LTEXT           "UV Ch",        -1, 104, 187, 20,   8
    CONTROL         "",  IDC_LM_CH_EDIT,  "CustEdit", WS_TABSTOP, 128, 185, 32, 10
    CONTROL         "",  IDC_LM_CH_SPIN,  "SpinnerControl", 0,         142,185,  7, 10

    LTEXT           "AO",           -1,   8, 203, 14,   8
    CONTROL         "",  IDC_AO_MAP,      "CustButton",    WS_TABSTOP, 38, 201, 70, 12
    LTEXT           "Intensity",    -1, 114, 203, 30,   8
    CONTROL         "",  IDC_AO_INT_EDIT, "CustEdit", WS_TABSTOP, 144, 201, 32, 10
    CONTROL         "",  IDC_AO_INT_SPIN, "SpinnerControl", 0,         158,201,  7, 10

    GROUPBOX        "Surface Relief", -1,  2, 226, 166, 48
    LTEXT           "Bump",        -1,   8, 239, 30,   8
    CONTROL         "",  IDC_BUMP_MAP,    "CustButton",    WS_TABSTOP, 40, 237, 68, 12
    LTEXT           "Scale",       -1, 114, 239, 18,   8
    CONTROL         "",  IDC_BUMP_EDIT,   "CustEdit", WS_TABSTOP, 136, 237, 32, 10
    CONTROL         "",  IDC_BUMP_SPIN,   "SpinnerControl", 0,         150,237,  7, 10
    LTEXT           "Disp",        -1,   8, 255, 30,   8
    CONTROL         "",  IDC_DISP_MAP,    "CustButton",    WS_TABSTOP, 40, 253, 68, 12
    LTEXT           "Scale",       -1, 114, 255, 18,   8
    CONTROL         "",  IDC_DISP_EDIT,   "CustEdit", WS_TABSTOP, 136, 253, 32, 10
    CONTROL         "",  IDC_DISP_SPIN,   "SpinnerControl", 0,         150,253,  7, 10
    LTEXT           "Bias",        -1, 114, 267, 18,   8
    CONTROL         "",  IDC_DISP_BIAS_EDIT,"CustEdit", WS_TABSTOP, 136, 265, 32, 10
    CONTROL         "",  IDC_DISP_BIAS_SPIN,"SpinnerControl",0,        150,265,  7, 10

    GROUPBOX        "Subsurface",  -1,   2, 278, 166, 68
    LTEXT           "Color",       -1,   8, 291, 20,   8
    CONTROL         "",  IDC_SSS_COLOR,    "ColorSwatch",   WS_TABSTOP, 30, 289, 24, 12
    CONTROL         "",  IDC_SSS_COLOR_MAP,"CustButton",    WS_TABSTOP, 60, 289, 48, 12
    LTEXT           "Dist",        -1,   8, 307, 18,   8
    CONTROL         "",  IDC_SSS_DIST_EDIT,"CustEdit", WS_TABSTOP, 30, 305, 32, 10
    CONTROL         "",  IDC_SSS_DIST_SPIN,"SpinnerControl",0,         50, 305,  7, 10
    LTEXT           "Amb",         -1,  88, 307, 18,   8
    CONTROL         "",  IDC_SSS_AMB_EDIT, "CustEdit", WS_TABSTOP, 108, 305, 32, 10
    CONTROL         "",  IDC_SSS_AMB_SPIN, "SpinnerControl",0,         128,305,  7, 10
    LTEXT           "Attn",        -1,   8, 323, 18,   8
    CONTROL         "",  IDC_SSS_ATT_EDIT, "CustEdit", WS_TABSTOP, 30, 321, 32, 10
    CONTROL         "",  IDC_SSS_ATT_SPIN, "SpinnerControl",0,         50, 321,  7, 10
    LTEXT           "Power",       -1,  88, 323, 22,   8
    CONTROL         "",  IDC_SSS_PWR_EDIT, "CustEdit", WS_TABSTOP, 112, 321, 32, 10
    CONTROL         "",  IDC_SSS_PWR_SPIN, "SpinnerControl",0,         132,321,  7, 10
    LTEXT           "Scale",       -1,   8, 339, 18,   8
    CONTROL         "",  IDC_SSS_SCALE_EDIT,"CustEdit", WS_TABSTOP, 30, 337, 32, 10
    CONTROL         "",  IDC_SSS_SCALE_SPIN,"SpinnerControl",0,        50, 337,  7, 10

    GROUPBOX        "Options",     -1,   2, 350, 166, 36
    CONTROL         "Double Sided",IDC_DOUBLE_SIDED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP, 8, 362, 68, 10
    LTEXT           "Env",         -1, 108, 362, 14,   8
    CONTROL         "",  IDC_ENV_INT_EDIT,"CustEdit", WS_TABSTOP, 126, 360, 32, 10
    CONTROL         "",  IDC_ENV_INT_SPIN,"SpinnerControl", 0,         144,360,  7, 10
    LTEXT           "Model: MeshSSSNodeMaterial", IDC_MTL_MODEL_LABEL, 8, 374, 132, 8
END

IDD_THREEJS_UTILITY_MTL DIALOG 0, 0, 170, 422
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE
FONT 8, "Segoe UI"
BEGIN
    GROUPBOX        "Renderer", -1,   2,   2, 166, 24
    LTEXT           "Mode",         -1,   8,  13, 20,   8
    COMBOBOX        IDC_UTILITY_MODE, 30, 11, 124, 70, CBS_DROPDOWNLIST | WS_TABSTOP

    GROUPBOX        "Base Surface", -1,   2,  30, 166, 70
    LTEXT           "Color",         -1,   8,  43, 20,   8
    CONTROL         "",  IDC_COLOR,      "ColorSwatch",    WS_TABSTOP, 30,  41, 24, 12
    CONTROL         "",  IDC_COLOR_MAP,  "CustButton",     WS_TABSTOP, 60,  41, 48, 12
    LTEXT           "Amt",           -1, 114,  43, 14,   8
    CONTROL         "",  IDC_MAPSTR_EDIT,"CustEdit",      WS_TABSTOP, 130, 41, 16, 10
    CONTROL         "",  IDC_MAPSTR_SPIN,"SpinnerControl", 0,         148, 41,  7, 10

    LTEXT           "Opacity",       -1,   8,  59, 22,   8
    CONTROL         "",  IDC_OPACITY_EDIT,"CustEdit",     WS_TABSTOP, 30,  57, 18, 10
    CONTROL         "",  IDC_OPACITY_SPIN,"SpinnerControl",0,         50,  57,  7, 10
    CONTROL         "",  IDC_OPACITY_MAP, "CustButton",   WS_TABSTOP, 60,  57, 48, 10
    LTEXT           "Amt",           -1, 114,  59, 14,   8
    CONTROL         "",  IDC_OPMAPSTR_EDIT,"CustEdit",    WS_TABSTOP, 130, 57, 16, 10
    CONTROL         "",  IDC_OPMAPSTR_SPIN,"SpinnerControl",0,        148, 57,  7, 10

    LTEXT           "Normal",        -1,   8,  75, 22,   8
    CONTROL         "",  IDC_NORMAL_MAP, "CustButton",    WS_TABSTOP, 30,  73, 78, 10
    LTEXT           "Scale",         -1, 114,  75, 18,   8
    CONTROL         "",  IDC_NORMSCL_EDIT,"CustEdit",     WS_TABSTOP, 136, 73, 12, 10
    CONTROL         "",  IDC_NORMSCL_SPIN,"SpinnerControl",0,         150, 73,  7, 10

    GROUPBOX        "Emission",     -1,   2, 104, 166, 46
    LTEXT           "Color",        -1,   8, 117, 20,   8
    CONTROL         "",  IDC_EM_COLOR,    "ColorSwatch",   WS_TABSTOP, 30, 115, 24, 12
    CONTROL         "",  IDC_EM_MAP,      "CustButton",    WS_TABSTOP, 60, 115, 48, 12
    LTEXT           "Intensity",    -1,   8, 133, 30,   8
    CONTROL         "",  IDC_EM_INT_EDIT, "CustEdit",      WS_TABSTOP, 40, 131, 20, 10
    CONTROL         "",  IDC_EM_INT_SPIN, "SpinnerControl", 0,         62, 131,  7, 10
    LTEXT           "Amt",          -1, 104, 133, 14,   8
    CONTROL         "",  IDC_EMMAPSTR_EDIT,"CustEdit",    WS_TABSTOP, 120,131, 16, 10
    CONTROL         "",  IDC_EMMAPSTR_SPIN,"SpinnerControl",0,        138,131,  7, 10

    GROUPBOX        "Utility Maps", -1,   2, 154, 166, 64
    LTEXT           "Lightmap",     -1,   8, 167, 26,   8
    CONTROL         "",  IDC_LM_MAP,      "CustButton",    WS_TABSTOP, 38, 165, 116, 12
    LTEXT           "Intensity",    -1,   8, 183, 30,   8
    CONTROL         "",  IDC_LM_INT_EDIT, "CustEdit",      WS_TABSTOP, 40, 181, 20, 10
    CONTROL         "",  IDC_LM_INT_SPIN, "SpinnerControl", 0,         62, 181,  7, 10
    LTEXT           "UV Ch",        -1, 104, 183, 20,   8
    CONTROL         "",  IDC_LM_CH_EDIT,  "CustEdit",      WS_TABSTOP, 128,181, 12, 10
    CONTROL         "",  IDC_LM_CH_SPIN,  "SpinnerControl", 0,         142,181,  7, 10

    LTEXT           "AO",           -1,   8, 199, 14,   8
    CONTROL         "",  IDC_AO_MAP,      "CustButton",    WS_TABSTOP, 38, 197, 70, 12
    LTEXT           "Intensity",    -1, 114, 199, 30,   8
    CONTROL         "",  IDC_AO_INT_EDIT, "CustEdit",      WS_TABSTOP, 144,197, 12, 10
    CONTROL         "",  IDC_AO_INT_SPIN, "SpinnerControl", 0,         158,197,  7, 10

    GROUPBOX        "Surface Relief", -1,  2, 222, 166, 48
    LTEXT           "Bump",        -1,   8, 235, 30,   8
    CONTROL         "",  IDC_BUMP_MAP,    "CustButton",    WS_TABSTOP, 40, 233, 68, 12
    LTEXT           "Scale",       -1, 114, 235, 18,   8
    CONTROL         "",  IDC_BUMP_EDIT,   "CustEdit",      WS_TABSTOP, 136,233, 12, 10
    CONTROL         "",  IDC_BUMP_SPIN,   "SpinnerControl", 0,         150,233,  7, 10
    LTEXT           "Disp",        -1,   8, 251, 30,   8
    CONTROL         "",  IDC_DISP_MAP,    "CustButton",    WS_TABSTOP, 40, 249, 68, 12
    LTEXT           "Scale",       -1, 114, 251, 18,   8
    CONTROL         "",  IDC_DISP_EDIT,   "CustEdit",      WS_TABSTOP, 136,249, 12, 10
    CONTROL         "",  IDC_DISP_SPIN,   "SpinnerControl", 0,         150,249,  7, 10
    LTEXT           "Bias",        -1, 114, 263, 18,   8
    CONTROL         "",  IDC_DISP_BIAS_EDIT,"CustEdit",    WS_TABSTOP, 136,261, 12, 10
    CONTROL         "",  IDC_DISP_BIAS_SPIN,"SpinnerControl",0,        150,261,  7, 10

    GROUPBOX        "Mode Extras", -1,   2, 274, 166, 72
    LTEXT           "Matcap",      -1,   8, 287, 22,   8
    CONTROL         "",  IDC_UTILITY_MATCAP_MAP, "CustButton", WS_TABSTOP, 34, 285, 120, 12
    LTEXT           "Specular",    -1,   8, 303, 24,   8
    CONTROL         "",  IDC_UTILITY_SPECULAR, "ColorSwatch", WS_TABSTOP, 34, 301, 24, 12
    LTEXT           "Shiny",       -1,  90, 303, 18,   8
    CONTROL         "",  IDC_UTILITY_SHINE_EDIT, "CustEdit", WS_TABSTOP, 112,301, 18, 10
    CONTROL         "",  IDC_UTILITY_SHINE_SPIN, "SpinnerControl", 0, 132,301, 7, 10
    CONTROL         "Flat Shading",IDC_UTILITY_FLAT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP, 8, 319, 54, 10
    CONTROL         "Wireframe",   IDC_UTILITY_WIREFRAME,"Button",BS_AUTOCHECKBOX | WS_TABSTOP, 74, 319, 46, 10
    LTEXT           "Distance / Depth ignore color lighting extras.", -1, 8, 333, 146, 8

    GROUPBOX        "Options",     -1,   2, 350, 166, 60
    CONTROL         "Double Sided",IDC_DOUBLE_SIDED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP, 8, 362, 68, 10
    LTEXT           "Env",         -1, 108, 362, 14,   8
    CONTROL         "",  IDC_ENV_INT_EDIT,"CustEdit",      WS_TABSTOP, 126,360, 16, 10
    CONTROL         "",  IDC_ENV_INT_SPIN,"SpinnerControl", 0,         144,360,  7, 10
    LTEXT           "Models: Distance / Depth / Lambert / Matcap / Normal / Phong", IDC_MTL_MODEL_LABEL, 8, 392, 154, 16
END
